{#login/templates/login/login.html#}
{% extends 'login/base.html' %}
{% block title %}博客{% endblock %}

{% block script %}

<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        'mode':'textareas',
        'theme':'advanced',
        'width':400,
        'height':100
        });
</script>

{% endblock %}

{% block content %}
{% if request.session.is_login %}
  <form class="form-blog" action="/blog/" method="post">
      {% csrf_token %} 
        <div>
        <input type="text" name="blog_id"/>
        </div>

      <button type="reset" class="btn btn-default  pull-default">重置</button>
         
      <button type="submit" class="btn btn-primary  pull-default">提交</button>
  </form>
{% else %}
  <h1>你尚未登录，只能访问公开内容！</h1>
{% endif %}
{% endblock %}

