{#login/templates/login/login.html#}
{% extends 'login/base.html' %}
{% block title %}主页{% endblock %}

{% block script %}

<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        'mode':'textareas',
        'theme':'advanced',
        'width':400,
        'height':100
        });
</script>
 
{% endblock %}

{% block content %}
    {% if request.session.is_login %}

    <form method="post" action="/pic_handle/" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="file" name="pic"/><br>
        <input type="submit" value="上传">
    </form>
    
    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}

